body {
  padding: 0;
  margin: 0;
}
  
#map,
body,
html {
  height: 98.1%;
}

.legend {
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 2px solid;
  border-color: #A9A9A9;
  line-height: 32px;
  color: #000000;
  width: 160px;
}

#nav-links {
  padding-right: 50px;
}

.navbar-brand {
  padding-left: 30px;
  font-weight: bold;
}

.nav-item {
  padding-right: 10px;
  font-weight: bold;
}