#nav-links {
    padding-right: 50px;
}

.navbar-brand {
    padding-left: 30px;
    font-weight: bold;
}

.nav-item {
    padding-right: 10px;
    font-weight: bold;
}

.navbar {
    border-bottom: solid;
    border-color: #000000;
}