body {
    margin-bottom: 50px;
}

.navbar-brand {
    padding-right: 30px;
}

.navbar {
    border-bottom: solid;
    border-color: #000000;
}

.data-header {
    margin-top: 80px;
    font-weight: bold;
    text-decoration: underline;
}

.data-subheader {
    margin-top: 40px;
    font-weight: bold;
}

.index-header {
    margin-top: 60px;
    font-weight: bold;
}

.index-subheader {
    margin-top: 10px;
    font-weight: bold;
}

.index-subheader1 {
    padding-top: 60px;
    padding-bottom: 5px;
    font-weight: bold;
}

.index-subheader2 {
    padding-top: 15px;
    padding-bottom: 5px;
    font-weight: bold;
}

.data-list {
    list-style-type: square;
}

.data-list li {
    line-height: 40px;
}