.navbar-brand {
    padding-right: 30px;
}

.navbar {
    border-bottom: solid;
    border-color: #000000;
}

.data-header {
    margin-top: 80px;
    font-weight: bold;
    text-decoration: underline;
}

.data-subheader {
    margin-top: 40px;
    font-weight: bold;
}